.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.fieldset {
  border-radius: 5px;
  border: 1px solid #E5E7E9;
  height: 45px;
  position: relative;
}

.fieldsetError {
  border: 1px solid red;
}

.fieldsetFocus {
  border: 1px solid rgb(2, 114, 194);
}

.legend {
  height: 18px;
  font-size: 14px;
  color: #797A7A;
}

.legendError {
  color: red;
}

.icon {
  position: absolute;
  right: 16px;
}

@media only screen and (max-width: 768px) {
  .icon {
    right: 6px;
  }
}

.input {
  align-self: center;
  width: 90%;
  font-size: 16px;
  margin-top: 3px;
  border:none;
  outline: none;
}

.helpText {
  padding: 10px 0px 5px 5px;
  color: #797A7A;
  font-size: 13px;
}

.validationError {
  color: red;
}

.select {
  border-radius: 5px;
  border: 1px solid #E5E7E9;
  height: 55px;
  font-size: 16px;
  padding: 10px;
  background: url(../../assets/icons/down_arrow.png) 96% center no-repeat !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select:focus {
  border: 1px solid rgb(2, 114, 194);
  outline: none !important;
}