.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form {
  margin: 20px 0px;
}

.footerText {
  font-size: 13px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    font-weight: bold;
    color: #3364FF;
}
